* {
    margin: 0;
    padding: 0;
}

header h1 {
    background-color: black;
    color: white;
    width: 100%;
    font-family: 'Tangerine', cursive;
}

.menu {
    background-color: black;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Tangerine', cursive;
}

#title {
    color: white;
    text-decoration: none;
}

.menu:hover {
    text-decoration: underline;
}

nav {
    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav li{
    background-color: black;
    float: left;
    list-style: none;
    padding: 0 100px;
}

#heading {
    color: white;
    background-color: black;
    width: 100%;
}

#homeImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#home {
    border: solid;
    display: block;
    text-align: center;
    height: 1000px;
}

#photos {
    border: solid;
    width: 25%;
    height: 250px;
    margin-left: 5%;
    margin-top: 1%;
    float: left;
    background-image: url(../img/photo.jpeg);
    background-size: 500px 250px;
    background-repeat: no-repeat;
}

#photos2 {
    border: solid;
    width: 25%;
    height: 250px;
    margin-left: 7%;
    margin-top: 1%;
    float: left;
    background-image: url(../img/photo2.jpeg);
    background-size: 500px 250px;
    background-repeat: no-repeat;
}

#photos3 {
    border: solid;
    width: 25%;
    height: 250px;
    margin-left: 70%;
    margin-top: 1%;
    background-image: url(../img/photo3.jpg);
    background-size: 500px 250px;
    background-repeat: no-repeat;
}

#appointment {
    display: none;
    height: 1500px;
    /* background-image: url(../img/hair1.jpg); */
    /* background-size: 900px 600px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center; */
    /* padding: 10%; */
    border: solid;
}

#please {
    text-align: center;
    width: 30%;
    margin: 5% auto;
    border: solid;
}

#please h1 {
    background-color: black;
}

#appointment h1 {
    color: white;
}

#delete {
    color: red;
    text-decoration: none;
}

#hair1 {
    width: 900px;
    height: 600px;
    background-image: url(../img/hair1.jpg);
    background-size: 900px 600px;
    background-repeat: no-repeat;
    margin: auto;
}

#contact {
    border: solid;
    display: none;
    height: 1000px;
    background-image: url(../img/contact.jpeg);
    background-size: 500px 500px;
    background-repeat: no-repeat;
}

#hours {
    width: 250px; 
    border-style: dashed; 
    padding: 20px; 
    height: 150px; 
    margin-left: 30%; 
    margin-top: 13%; 
    position: absolute;
}

#info {
    color: black;
    border: dashed;
    width: 400px;
    margin-left: 30%;
    margin-top: 3%;
    padding: 20px;
}

#lol {
    border-collapse: collapse;
    width: 100%;
    color: green;
}

#lol td, th {
    border: 1px solid gray;
    text-align: left;
    padding: 8px;
}

#lol tr:nth-child(even){
    background-color: yellow;
}

#notes {
    width: 300px;
    height: 150px;
    resize: none;
}

#notes::placeholder {
    text-align: center;
}

footer {
    background-color: gray;
    text-align: center;
    margin-top: auto;
}
